@page "/Facultycouse"
@rendermode InteractiveServer
@using BlazorBootstrap
@using CUG_ONLINE_COURSES.Data
@using CUG_ONLINE_COURSES.Models
@using CUG_ONLINE_COURSES.Services.RolesServices
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = $"{AuthenticationInitalData.SuperAdminRole},{AuthenticationInitalData.LecturerRole}")]
@inject IRoleService _roleManagerService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILogger<ManageRoles> Logger
<PageTitle>Courses</PageTitle>
<div class="card">
    <div class="card-header">
       Courses
    </div>
    <div class="card-body">
        @if (staffDashboadData == null || !staffDashboadData.Any())
        {
            <p><em>Loading or You Have not been assigned courses available...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (course, index) in staffDashboadData.Select((course, i) => (course, i + 1)))
                    {
                        <tr>

                            <td>@index</td>
                            <td>@course.CourseCode</td>
                            <td>@course.CourseName</td>
                          
                            <td>
                                <button type="button" class="btn btn-primary" onclick="window.location.href='result/@course.CourseCode'"><i class="bi bi-eye me-1"></i>Result</button>


                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>
</div>


@code {

   
    private List<staffDashboad> staffDashboadData;
    private string? userId;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        try
        {
            if (user.IsInRole(AuthenticationInitalData.LecturerRole))
            {
                staffDashboadData = await _roleManagerService.DashboardDataStaff(userId);

            }

        }
        catch (Exception ex)
        {

        }

    }

    private async Task RegisterForCourse(int courseId)
    {
       
    }



}
